<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="geekgames.delichus4" >

    <uses-permission android:name ="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:name="geekgames.delichus4.MainApplication"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">


        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="geekgames.delichus4.SplashScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="geekgames.delichus4.Login"
            android:configChanges="orientation"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="geekgames.delichus4.seconds.FormularioInicio"
            android:configChanges="orientation"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="geekgames.delichus4.seconds.Tutorial"
            android:configChanges="orientation"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="geekgames.delichus4.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >

        </activity>

        <activity
            android:name="geekgames.delichus4.Receta"
            android:parentActivityName="geekgames.delichus4.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:label="@string/app_name" >

        </activity>

        <activity
            android:name=".BusquedaFiltros"
            android:parentActivityName="geekgames.delichus4.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Custom"
            android:label="@string/app_name" >

        </activity>

        <activity
            android:name=".BusquedaNombre"
            android:parentActivityName="geekgames.delichus4.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Custom"
            android:label="@string/app_name" >
            </activity>

        <activity
            android:name=".BusquedaIngredientes"
            android:parentActivityName="geekgames.delichus4.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Custom"
            android:label="@string/app_name" >

        </activity>

        <activity
            android:name="geekgames.delichus4.seconds.ActivityLogros"
            android:parentActivityName="geekgames.delichus4.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/RecipeTheme"
            android:label="Logros" >

        </activity>

        <activity
            android:name="geekgames.delichus4.seconds.OtherUserPage"
            android:parentActivityName="geekgames.delichus4.Receta"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/RecipeTheme"
            android:label="" >

        </activity>

        <activity
        android:name="geekgames.delichus4.seconds.ActivityFavoritos"
        android:parentActivityName="geekgames.delichus4.MainActivity"
        android:configChanges="orientation"
        android:screenOrientation="portrait"
        android:theme="@style/RecipeTheme"
        android:label="Favoritos" >

        </activity>

        <activity
            android:name="geekgames.delichus4.seconds.ActivityCompletados"
            android:parentActivityName="geekgames.delichus4.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/RecipeTheme"
            android:label="Completados" >

        </activity>

        <activity
            android:name="geekgames.delichus4.seconds.ActivityShoppingList"
            android:parentActivityName="geekgames.delichus4.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/RecipeTheme"
            android:label="Lista de compras" >

        </activity>

        <activity
            android:name="geekgames.delichus4.seconds.ActivityAjustes"
            android:parentActivityName="geekgames.delichus4.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/RecipeTheme"
            android:label="Ajustes" >

        </activity>

        <activity
            android:name="geekgames.delichus4.seconds.ActivityTitulos"
            android:parentActivityName="geekgames.delichus4.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/RecipeTheme"
            android:label="Titulos" >

        </activity>

        <activity
            android:name="geekgames.delichus4.seconds.ActivitySeguidos"
            android:parentActivityName="geekgames.delichus4.seconds.ActivityAjustes"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/RecipeTheme"
            android:label="Seguidos" >

        </activity>

        <activity
            android:name="geekgames.delichus4.seconds.RegistroUsuario"
            android:parentActivityName="geekgames.delichus4.Login"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/RecipeTheme"
            android:label="Registrar" >

        </activity>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <provider android:authorities="com.facebook.app.FacebookContentProvider807918469277605"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>

    </application>



</manifest>
